.content {
    p {
        margin: 0.1rem 0 0.1rem;
    }
    a {
        font-weight: 550;
        text-decoration: underline;
    }
    img {
        border-radius: 1rem;
        margin: 1rem 0;
    }
    ul {
        margin: 0 1.5rem;
    }
    ol {
        margin: 0 1.5rem;
    }
}